.weather-container {
    background: -webkit-linear-gradient(-90deg, #B5D464 10%, #4C868E 90%);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    border-radius: 10px;
    padding: 25px;
}

.weather-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px;
}
  
.weather {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;

}

.table tr {
    height: 25px;
}

td .color-negro{
    color:black;
}

td .color-text{
    color: white;
}

td .icons-weather {
    color: #FFFFFF;
    font-size: 20px;
    position:absolute;
    margin-top: -2px;
    margin-left: 5px;
}
  
.weather-actions {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
  
.btn-see-more {
    background: #f58c2c;
    text-decoration: none;
    border: 2px solid #3f3d3d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 10px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #FFFFFF;
    float: right;
}

.btn-see-more:hover {
    cursor: pointer;
    background-color:#FFFFFF;
    color: #A3568A;
    position: inline;
}

.btn-text {
    font-size: 14px;
    display:inline-block;
    vertical-align:3px;
}